
.highlight-container {
    text-align: center;
    display: block;
    position: absolute;
    height: inherit;
    width: inherit;
    backdrop-filter: blur(5px);
}

.highlighted-text {
    position:'relative';
    top:'30%';
    font-size: 20pt;
    font-weight: bold;
}








