
.paragraphStyle{
    font: size 12; ;
}

.paragraphStyle:hover{
    background-color: rgb(255, 238, 0);
    color: black;
    text-decoration: none;
}

.paragraphStyleStrikeThrough{
    color: black;
    text-decoration: line-through;
}